h1{
    text-align: center;
}

.add-book-form{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

}

.css-12dv9jb { 
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}
  
